/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
    align-items: stretch;
    flex-wrap: wrap;
    
}

header {
    border-radius: 25px 25px 0px 0px;
    background-color: #333;
    padding: 5px;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-around;
    background-color: #555;
    padding: 10px;
}

    nav a {
        color: white;
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 4px;
    }



/*.left {
    flex: 1;
    display: flex;
    background-color: lightblue;
    align-content: flex-start;
    width: 20%;
    box-sizing: border-box;
}

.center {
    display: flex;
    flex: 1;
    background-color: lightgreen;
    width: 60%;
    box-sizing: border-box;
}

.right {
    display: flex;
    flex: 1;
    background-color: lightcoral;
    align-content: flex-end;
    width: 20%;
    box-sizing: border-box;
}*/

@media screen and (max-width: 600px) {
    header{
        border-radius: 0px;
    }
    nav {
        position: relative;
        border-radius: 0px;
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin-top: 5px;

    }

    .left, .right {
        min-width: 100%; /* Full width on smaller screens */
    }

    .center {
        order: -1; /* Move center to the top on smaller screens */
    }
}

@media screen and (min-width: 601px){
    body{
        margin: 20px;
    }
}
