/* styles.css */
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color:lightgray;
}

header {
   /* border-radius: 25px 25px 0px 0px;*/
    background-color: #333;
    padding-top: 5px;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-around;
    background-color: #555;
    /*padding: 5px 5px;*/
}

    nav a {
        color: white;
        /*text-decoration: none;*/
        padding: 5px;
    }

.main-container {
    display: flex;
    flex: 1;
}

.main-container {
    flex: 1; 
    padding: 20px;
}

.left-sidebar {
    flex: 0 0 15%;
    padding: 20px;
}

.right-sidebar {
    flex: 0 0 15%; 
    padding: 20px;
}

.center {
    flex: 1;
    padding: 20px;
}

img {
    flex: 1;
    max-width: 25%;
    height: auto;
    padding: 10px;
    align-items: center;
    align-content: center;
    text-align: center;
    box-sizing: border-box;
}


@media screen and (max-width: 600px) {
    header{
        border-radius: 0px;
    }
    nav {
        position: relative;
        border-radius: 0px;
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin-top: 5px;

    }

    .main-container {
        flex: 1;
        flex-direction:column;
    }



    .right-sidebar{
        display: none;
    }

    .center {
        order: -1; /* Move center to the top on smaller screens */
        padding: 10px;
    }

    img {
        max-width: 100%;
        flex-direction: column;
    }
}

/*@media screen and (min-width: 601px){
    body{
        margin: 20px;
    }
}*/
