@font-face {
    src: url(../../fonts/Themilan.ttf);
    font-family: Themilan;
}

.headerMain {
    font-family: Themilan;
    font-size: 100px;
    color: black;
    padding-left: 20px;
    background-color: rgb(179, 179, 179);
    background: linear-gradient(rgb(179, 179, 179), rgb(100, 100, 100) );
    /*TODO  
    Use this for headers */
    
}

@media screen and (max-width: 769) {
    .headerMain {
        font-size: 28;
    }
}