@font-face {
  src: url(../../fonts/PermanentMarker-Regular.ttf);
  font-family: PermanentMarker;
}


/* Nav Bar */
nav {
  font-family: PermanentMarker;
  background-color: black;
  border-width: 1px;
  border-width: 100%;
  transition: background-color 0.3s, color 0.3s;
  top: 0;
  position: sticky;
}

nav a {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 25px;
  border-radius: 20px;
  color: white;
  text-align: center;
}

nav a:hover {
  color: #000000;
  background-color: #ffffff;
  text-decoration: underline;
}

nav a:active {
  color: red;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.navbar li {
  float: left;
}

ul.navbar li.dropdown {
  display: inline-block;
}

ul.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

ul.navbar .dropdown:hover .dropdown-content {
  display: block;
}

ul.navbar .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: block;
}

ul.navbar .dropdown-content a:hover {
  background-color: white;
  color: black;
}

ul.navbar .dropdown-content a:active {
  color: rgb(255, 0, 0);
}


@media screen and (max-width: 800px) {



  ul.navbar li {
    float:none;
    /* justify-content: center; */
  }

  nav a {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 28px;
    text-align: center;
    padding:initial;
  }

  nav {
    font-family: PermanentMarker;
    background-color: black;
    border-width: initial;
    border-width: initial;
    transition: background-color 0.3s, color 0.3s;
    top: 0;
    position: initial;
  }
  
  ul.navbar li.dropdown {
    display: flex;
  }

  ul.navbar .dropdown:hover .dropdown-content {
    display: none;
  }
}